/*CSS code ie here*/

body{
    margin: 0;
    text-align: center;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px ;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

h1{
    margin: 0;
    font-family: 'Caveat Brush', cursive;}

h2{
    font-family: 'Caudex', serif;
}

h3{
    font-family: 'Merriweather', serif;
}

.top-container{
    background-color: aquamarine;
    position: relative;
    padding-top: 100px;
}

.middle-container{

}

.bottom-container{

}

.pro{
    text-decoration: underline;
}